html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}

.full-v {
  height: 100%;
}

html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}